{
  "extends": [ "airbnb", "airbnb/hooks", "airbnb-typescript" ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "import/prefer-default-export": "off",
    "no-param-reassign": ["error", { "props": false }],
    "@typescript-eslint/no-unused-vars": "off",
    "react/jsx-props-no-spreading": "off",
    "max-len": ["error", { "code": 120, "ignoreStrings": true }],
    "object-curly-newline": ["error", {
      "ObjectPattern": { "multiline": true },
      "ImportDeclaration": { "multiline": true, "minProperties": 6 },
      "ExportDeclaration": { "multiline": true, "minProperties": 4 }
    }]
  }
}
